.container{
    max-width: 1440px;
    margin: 0px auto;
    padding: 26px 28px ;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    background-color:rgb(255, 255, 255);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(35, 24, 96, 0.275); 
    border-radius: 10px;   
  }
