.nav_top_center{
    a{
        color: rgba(34, 32, 46, 1);
        font-size: 24px;
        font-family: 'ClashDisplay-Regular';
    }
}
.container-fluid{
    a{
        color: rgba(34, 32, 46, 1);
        font-size: 24px;
        font-family: 'ClashDisplay-Regular';
    } 
}